@charset "utf-8";
@import "reset.css";
@import "style.css";
@import url(../../fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(../../fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(../../fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body,html {width:100%; height:100%; margin:0px; padding:0px; font-size:14px; font-family:'Noto Sans KR', sans-serif; color:#231f20;}
ul{font-size:0;}

/* FONT */
/* @font-face {
  font-family:'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url('/font/NanumGothic.eot'); IE9 Compat Modes
  src: url('/font/NanumGothic.eot?#iefix') format('embedded-opentype'), ie 6,7,8 적용 embedded-opentype ie 8,9 적용
       url('/font/NanumGothic.woff') format('woff'), ie 제외한 나머지
       url('/font/NanumGothic.ttf') format('truetype'),
       url('/font/NanumGothic.svg#NanumGothic') format('svg'); 모바일브라우져를 위해서
}
@font-face {
  font-family:'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: url('/font/NanumGothicBold.eot'); IE9 Compat Modes
  src: url('/font/NanumGothicBold.eot?#iefix') format('embedded-opentype'), ie 6,7,8 적용 embedded-opentype ie 8,9 적용
       url('/font/NanumGothicBold.woff') format('woff'), ie 제외한 나머지
       url('/font/NanumGothicBold.ttf') format('truetype'),
       url('/font/NanumGothicBold.svg#NanumGothicBold') format('svg'); 모바일브라우져를 위해서
}
@font-face {
  font-family:'NanumGothic';
  font-style: normal;
  font-weight: 900;
  src: url('/font/NanumGothicExtraBold.eot'); IE9 Compat Modes
  src: url('/font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'), ie 6,7,8 적용 embedded-opentype ie 8,9 적용
       url('/font/NanumGothicExtraBold.woff') format('woff'), ie 제외한 나머지
       url('/font/NanumGothicExtraBold.ttf') format('truetype'),
       url('/font/NanumGothicExtraBold.svg#NanumGothicExtraBold') format('svg'); 모바일브라우져를 위해서
}
@font-face {
  font-family:'NanumGothic';
  font-style: normal;
  font-weight: 300;
  src: url('/font/NanumGothicLight.eot'); IE9 Compat Modes
  src: url('/font/NanumGothicLight.eot?#iefix') format('embedded-opentype'), ie 6,7,8 적용 embedded-opentype ie 8,9 적용
       url('/font/NanumGothicLight.woff') format('woff'), ie 제외한 나머지
       url('/font/NanumGothicLight.ttf') format('truetype'),
       url('/font/NanumGothicLight.svg#NanumGothicLight') format('svg'); 모바일브라우져를 위해서
} */

/* WRAP */
#wrap{width:100%; min-width:1280px; overflow:hidden;}
/* 
SKIP_NAV
#u_skip{position:absolute; width:100%; z-index:10000;}
#u_skip a:visited,#u_skip a:link{display:block; width:100%; background-color:#333; color:#fff; text-align:center; box-sizing:border-box; padding:10px; position:absolute; left:0; top:0; top:-100px;}
#u_skip a:focus,#u_skip a:active{top:0;} */

/* HEADER */
#header{width:100%; height:100px; position:relative; margin:0 auto; background-color:#fff; z-index:1000;}
#header .header_box{width:100%; height:100px; position:relative; margin:0 auto; background-color:#fff; z-index:1000;}
#header .go_home{margin-right:70px; padding:30px 0 0 10px; float:left;}
#header .go_home a{display:inline-block;}
#header .go_home a img{display:block; height:45px;}
#header .menu{float:left; vertical-align:top;}
#header .menu ul{display:block;}
#header .menu ul .menu_tit{display:inline-block; padding:40px 3px 15px 3px; border-bottom:2px solid transparent; box-sizing:border-box; position:relative; margin:0 30px;}
#header .menu ul .menu_tit:first-child{margin-left:0;}
#header .menu ul .menu_tit:last-child{margin-right:0;}
#header .menu ul .menu_tit .go_sub_tit{font-size:16px; letter-spacing:-1px; color:#858585; line-height:1;}
#header .menu ul .menu_tit:hover{border-bottom:2px solid #858585;}
#header .menu ul .menu_tit:hover .go_sub_tit {color:#444;}
#header .menu ul .menu_tit.on{border-bottom:2px solid #858585;}
#header .menu ul .menu_tit .sub_menu_box{display:none; position:absolute; top:100px; left:-10px; width:670px; box-sizing:border-box; z-index:100;}
#header .menu ul .menu_tit div.mb_1{width:480px; left:-10px;}
#header .menu ul .menu_tit:hover .sub_menu_box{display:block;}
#header .menu ul .menu_tit::after{content:""; position:absolute; width:100%; height:45px; left:0; bottom:-45px;}
#header .menu ul .menu_tit .sub_menu_box .smb_menu{display:inline-block; width:434px; border:1px solid #d4d4d4; box-sizing:border-box; padding:10px; vertical-align:top; background-color:#fff;}
#header .menu ul .menu_tit .sub_menu_box .smb_menu2{display:inline-block; width:233px; border:1px solid #d4d4d4; box-sizing:border-box; padding:10px; vertical-align:top; background-color:#fff;}
#header .menu ul .menu_tit .smbm_table{width:100%;}
#header .menu ul .menu_tit .smbm_table tr{border-bottom:4px solid #fff;}
#header .menu ul .menu_tit .smbm_table tr:last-child{border-bottom:0;}
#header .menu ul .menu_tit .smbm_table tr td{width:204px; height:50px; box-sizing:border-box; vertical-align:middle; background-color:#fff; text-align:left;}
#header .menu ul .menu_tit .smbm_table tr td:first-child{border-right:4px solid #fff;}
#header .menu ul .menu_tit .smbm_table tr td:last-child{border-left:4px solid #fff;}
#header .menu ul .menu_tit .mb_1 .smbm_table tr td{border:0;}
#header .menu ul .menu_tit .smbm_table tr td a{display:block;font-size:14px; font-weight:400; letter-spacing:-1px; color:#464646; line-height:50px; height:50px; box-sizing:border-box;}
#header .menu ul .menu_tit .smbm_table tr td a .sm_icon{margin:0 20px 0 17px; width:40px; display:inline-block; text-align:center;height:100%;}
#header .menu ul .menu_tit .smbm_table tr td a .sm_icon img{display:inline-block; vertical-align:middle;}
#header .menu ul .menu_tit .smbm_table tr td a span{vertical-align:top;}
#header .menu ul .menu_tit .smbm_table tr td.on{background-color:#89d0ee;}
#header .menu ul .menu_tit .smbm_table tr td:hover{background-color:#89d0ee;}
#header .menu ul .menu_tit .smbm_table tr td.on a{color:#fff;}
#header .menu ul .menu_tit .smbm_table tr td:hover a{color:#fff;}
#header .join_link_box{float:right; margin-top:20px; padding-right:10px; font-size:12px; font-weight:400; letter-spacing:-1px; color:#888;}
#header .join_link_box .login_btn{zoom:1; display:inline-block; border:1px solid #89d0ee; color:#89d0ee; font-size:12px; font-weight:400; letter-spacing:-1px; line-height:1; padding:2px 5px; text-align:center; -webkit-transition:all 0.3s;}
#header .join_link_box .login_btn:hover {background-color:#89d0ee; color:#fff;}
#header .join_link_box a {margin:0 5px; color:#888; font-size:12px;}
#header .join_link_box a:hover {color:#444;}
#header .join_link_box .socials {zoom:1;display:inline-block;margin-left:5px;}
#header .join_link_box .socials a {margin:0 1px; color:#adadad;}
#header .join_link_box .socials a i {font-size:21px;}
#header .join_link_box .socials a.sq {zoom:1; display:inline-block; width:16px; height:16px; border-radius:2px; background-color:#adadad; color:#fff; text-align:center;}
#header .join_link_box .socials a.sq i {font-size:16px;}


/* QUICK */
#wrap > #quick {z-index:990; position:fixed; top:0; right:0; bottom:0; width:80px; padding-top:100px; background-color:#f9f9f9;}
#wrap > #quick h3 {height:40px; padding:10px 0; background-color:#89d0ee; color:#fff; font-size:14px; text-align:center;}
#wrap > #quick dl {padding:12px; color:#858585; text-align:center;}
#wrap > #quick dl dt {display:none; margin-bottom:10px; padding:15px 0; border-bottom:1px solid #cbcbcb; color:#858585; font-size:14px;}
#wrap > #quick dl dt a {display:block; color:#aaa; font-size:14px;}
#wrap > #quick dl dd a {display:block; padding:15px 0; color:#858585; font-size:12px; font-weight:bold;}
#wrap > #quick dl dd a img {display:block; margin:0 auto 3px;}
#wrap > #quick .top {display:block; color:#89d0ee; font-size:40px; text-align:center;}
#container #quick {position:absolute; top:0; right:0; width:160px; margin-top:18px;}
#container #quick h3 {padding:12px 0; background-color:#89d0ee; color:#fff; text-align:center;}
#container #quick dl {padding:12px; background-color:#f9f9f9; color:#858585; text-align:center;}
#container #quick dl dt {margin-bottom:10px; padding:15px 0; border-bottom:1px solid #cbcbcb; color:#858585; font-size:14px;}
#container #quick dl dt a {display:block; color:#aaa; font-size:17px; font-weight:bold;}
#container #quick dl dd a {display:block; padding:15px 0; color:#858585; font-size:14px; font-weight:bold;}
#container #quick dl dd a img {display:block; margin:0 auto 3px;}
#container #quick .top {display:block; color:#89d0ee; font-size:40px; text-align:center;}


/* FOOTER */
#footer{margin-right:80px; clear:both;}
#footer .slogan {height:46px; line-height:46px; background-color:#525252; color:#fff; font-size:17px; text-align:center;}
#footer .con_box4{min-width:1200px; text-align:center; display:block; padding:45px 0; background-color:#696969;}
#footer .con_box4 .introduce_link{overflow:hidden; width:1200px; margin:0 auto; color:#fff;}
#footer .con_box4 .introduce_link li{float:left; width:25%; text-align:left;}
#footer .con_box4 .introduce_link li:last-child{margin-right:0px;}
#footer .con_box4 .introduce_link li .il_icon{zoom:1; display:inline-block; vertical-align:top; margin-right:15px; color:#adadad; line-height:50px; font-size:50px;}
#footer .con_box4 .introduce_link li .il_con{zoom:1; display:inline-block; vertical-align:top; text-align:left;}
#footer .con_box4 .introduce_link li .il_con dt{margin-bottom:8px; font-size:16px; font-weight:bold; line-height:1; margin-bottom:8px;}
#footer .con_box4 .introduce_link li .il_con dd{font-size:14px; line-height:160%; }
#footer .con_box4 .introduce_link li .il_con dd .more_info_btn{display:inline-block; font-size:13px; letter-spacing:-0.75px; color:#323232; padding:7px 19px; line-height:1; background-color:#fff; margin-top:10px; text-decoration:none; -webkit-transition:all 0.3s;}
#footer .con_box4 .introduce_link li .il_con dd .more_info_btn:hover {background-color:#89d0ee;}
#footer .con_box4 .introduce_link li .il_con dd .ilc_color1{}
#footer .con_box4 .introduce_link li .il_con dd .ilc_color2{font-size:31px; line-height:1;}
#footer .con_box4 .introduce_link li .il_con dd .ilc_color3{font-size:25px; line-height:1; vertical-align:1px;}
#footer .foot_con{margin:0 auto; display:block; min-width:1200px; background-color:#696969; padding:35px 0;}
#footer .foot_con .con_box{width:1200px; margin:0 auto;}
#footer .foot_con .con_box .fc_01{}
#footer .foot_con .con_box .fc_01 .foot_menu{font-size:0;}
#footer .foot_con .con_box .fc_01 .foot_menu li{display:inline-block; width:25%; text-align:left; vertical-align:top;}
#footer .foot_con .con_box .fc_01 .foot_menu li .fm_tit{display:block; font-size:18px; font-weight:400; letter-spacing:-0.75px; color:#d7d7d7; line-height:1; margin-bottom:10px;}
#footer .foot_con .con_box .fc_01 .foot_menu li .line_1 li{display:block; padding:0; width:170px; margin-bottom:10px;}
#footer .foot_con .con_box .fc_01 .foot_menu li .line_1 li:last-child{margin-bottom:0px;}
#footer .foot_con .con_box .fc_01 .foot_menu li .line_1 li a{display:inline-block; font-size:13px; font-weight:400; letter-spacing:-0.75px; color:#b8b8b8; line-height:1; }
#footer .foot_con .con_box .fc_01 .foot_menu li .line_2{font-size:0; width:260px;}
#footer .foot_con .con_box .fc_01 .foot_menu li .line_2 li{display:inline-block; padding:0; width:50%; margin-bottom:7px;}
#footer .foot_con .con_box .fc_01 .foot_menu li .line_2 li a{display:inline-block; font-size:13px; font-weight:400; letter-spacing:-0.75px; color:#b8b8b8; line-height:1; }
#footer .copyright{width:100%; padding:40px 0; font-size:12px; background-color:#d9d9d9; color:#898989; line-height:1;}
#footer .copyright_inner {position:relative; width:1200px; margin:0 auto;}
#footer .copyright img {position:absolute; top:0; left:0; width:120px;}
#footer .copyright .privacy,
#footer .copyright .email {float:right; margin-left:5px; border-radius:2px; background-color:#898989; padding:3px 5px; color:#d9d9d9; font-size:11px;}
#footer .copyright p {margin:0 0 10px 150px; font-size:14px; line-height:140%;}
#footer .foot_con .con_box .fc_02{display:inline-block; vertical-align:top; width:273px;}
#footer .foot_con .con_box .fc_02 .call{font-size:19px; font-weight:400; letter-spacing:-0.75px; color:#ccc; line-height:1; margin-bottom:13px;}
#footer .foot_con .con_box .fc_02 .call_color1{display:inline-block; color:#7bc1bc; margin-bottom:7px;}
#footer .foot_con .con_box .fc_02 .call_color2{font-size:30px; font-weight:600;}
#footer .foot_con .con_box .fc_02 .adress{font-size:13px; font-weight:400; letter-spacing:-0.75px; color:#a0a1a4; line-height:1.6; margin-bottom:20px;}
#footer .foot_con .con_box .fc_02 .sns1{font-size:17px; font-weight:400; letter-spacing:-0.75px; color:#d7d7d7; line-height:1; margin-bottom:9px;}
#footer .foot_con .con_box .fc_02 .sns2 a{display:block; width:100%; height:40px; line-height:40px; box-sizing:border-box; padding-left:60px; font-size:15px; font-weight:400; letter-spacing:-0.75px; color:#fff;}
#footer .foot_con .con_box .fc_02 .sns2 .sns_blog{background:url('../img/comm/nblog_btn.png') no-repeat center; margin-bottom:5px;}
#footer .foot_con .con_box .fc_02 .sns2 .sns_face{background:url('../img/comm/fbook_btn.png') no-repeat center;}

/*빠른상담*/
#footer .callme_footer {font-size:13px;}
#footer .callme_footer div {
	margin-bottom:8px;
}
#footer .callme_footer select {
	height:27px;
	border-radius:3px;
	border:none;
}
#footer .callme_footer input[type="text"] {
	height:27px;
	padding:0 5px;
	border-radius:3px;
	border:none;
	background-color:#fff;
	font-size:14px;
}
#footer .callme_footer a {
	color:#fff;
	text-decoration:underline;
}
#footer .callme_footer button{display:inline-block; border:none; font-size:13px; letter-spacing:-0.75px; color:#323232; padding:7px 19px; line-height:1; background-color:#fff; font-family:'Noto Sans KR', sans-serif; text-decoration:none; -webkit-transition:all 0.3s; cursor:pointer;}
#footer .callme_footer button:hover {background-color:#89d0ee;}

#quick .callmeq div {margin-left:20 px; text-align:left ; background-color:#fff;}
#quick .callmeq select {height:27px !important;padding:none; font-size:14 px; border: 1px solid black;}

#quick .callmeq input[type="text"] {height:20px; padding:3px; border-radius:0px;	border: 1px solid black;	background-color:#fff;	font-size:14px;}
#quick .callmeq a {font-size:10px !important; color:#000;	text-decoration:underline;display:inline !important;text-align:left ;}
#quick .callmeq button{text-align:center;display:inline-block; border:1 px; font-size:13px; letter-spacing:-0.75px; color:#fff; padding:7px 19px; line-height:1; background-color:#89d0ee; font-family:'Noto Sans KR', sans-serif; text-decoration:none; -webkit-transition:all 0.3s; cursor:pointer;}
#quick .callmeq button:hover {background-color:#000;}
#quick .callmeq p {margin-left:20 px; font-size:10px;text-align:left ; background-color:#fff; display:inline;}
#quick .callmeq span {font-size:10px ;text-align:left !important;display:inline !important;}
#callmeq .callme_title p {font-size:14 px !important;text-align:left; color:#89d0ee !important; }

/*빠른상담 여기까지 */
.pop_layer{display:none; width:100%; height:100%; background-color:rgba(0,0,0,0.7); position:fixed; top:0; left:0; z-index:999999; overflow-y:scroll;}
.pop_layer1 section{position:relative; width:700px; height:470px; background-color:#fff; margin:10% auto 0;}
.pop_layer2 section{position:relative; width:1100px; height:640px; background-color:#fff; margin:10% auto 0;}
.pop_layer section .pop_close{position:absolute; top:0; right:-60px}
.pop_layer section .title{padding:14px 20px; font-size:23px; letter-spacing:-1px; font-weight:700; background-color:#f6f6f6;}
.pop_layer section .title span{float:right; font-size:15px; font-weight:400; color:#666; padding-top:7px;}
.pop_layer section .text{font-size:15px; color:#797979; padding:20px 25px;}

/* PAGING */
.paging {height:37px; text-align:center; font-size:13px; margin-top:30px; position:relative;}
.paging  a {color:#6d6d6d}
.paging .link_page {border:1px solid #d1d1d1; color:#5a5a5a; display:inline-block; font-weight:600; text-align:center; width:32px; height:32px; line-height:32px; margin-left:-1px;}
.paging .link_page:hover{position:relative; z-index:1; border:1px solid #7c7c7c;}
.paging .link_page_on{position:relative; z-index:1; border:1px solid #7c7c7c; color:#023c8d; display:inline-block; text-align:center; width:32px; height:32px; font-weight:700; line-height:32px;}
.paging .btn_prev {display:inline-block; text-align:center; width:32px; height:32px; line-height:32px; margin-right:10px; color:#5a5a5a; font-weight:900; border:1px solid #d5d5d5; background-color:#fff;}
.paging .btn_next {display:inline-block; text-align:center; width:32px; height:32px; line-height:32px; margin-left:10px; color:#5a5a5a; font-weight:900; border:1px solid #d5d5d5; background-color:#fff;}

.lh13{line-height:1.3 !important;}
.lh14{line-height:1.4 !important;}
.lh15{line-height:1.5 !important;}
.lh16{line-height:1.6 !important;}
.lh17{line-height:1.7 !important;}
.lh18{line-height:1.8 !important;}

.mr_no{margin-right:0 !important;}
.ml_no{margin-left:0 !important;}
.mt_no{margin-top:0 !important;}
.mb_no{margin-bottom:0 !important;}
.pr_no{padding-right:0 !important;}
.pl_no{padding-left:0 !important;}
.pt_no{padding-top:0 !important;}
.pb_no{padding-bottom:0 !important;}

.bt_no{border-top:0 !important;}
.br_no{border-right:0 !important;}
.bl_no{border-left:0 !important;}
.bb_no{border-bottom:0 !important;}

.ta_l{text-align:left !important;}
.ta_r{text-align:right !important;}
.ta_c{text-align:center !important;}
.ta_j{text-align:justify !important;}
.va_m{vertical-align:middle !important;}

.fl{float:left !important;}
.fr{float:right !important;}

.fw1{font-weight:100 !important;}
.fw3{font-weight:300 !important;}
.fw4{font-weight:400 !important;}
.fw5{font-weight:500 !important;}
.fw7{font-weight:700 !important;}
.fw9{font-weight:900 !important;}

.inp{height:31px; box-sizing:border-box; padding:7px 10px; border:1px solid #d8d8d8;}
.inp[type="radio"]{vertical-align:-2px; border:none;}
.inp[type="checkbox"]{vertical-align:-2px; border:none;}
.sel{height:31px; box-sizing:border-box; padding:4px 10px 5px; border:1px solid #d8d8d8;}

.cp{cursor:pointer;}
.texta{padding:5px; height:40px; border:1px solid #d8d8d8;}

.width0{width:50px;}
.width1{width:100px;}
.width2{width:200px;}
.width3{width:300px;}
.width4{width:400px;}
.width5{width:500px;}
.width6{width:600px;}
.width7{width:700px;}
.width8{width:800px;}
.width9{width:900px;}
.width10{width:1000px;}
.width90{width:90%;}
.width95{width:95%;}
.width640{width:640px;}


.link_btn6{display:inline-block; font-size:14px; font-weight:600; letter-spacing:-1px; color:#41c1b2 !important; border:2px solid #41c1b2; padding:5px 10px; line-height:1;}

.btn_box1{width:100%; overflow:hidden; font-size:15px; font-weight:600; margin-top:20px;}
.btn_box2{width:100%; overflow:hidden; font-size:15px; font-weight:600; text-align:center; margin-top:20px;}
.btn_box3{width:100%; overflow:hidden;}
.btn_box4{text-align:center; background-color:#f5f5f5; padding:12px 0;}

a.btn_left_1{float:left; margin-right:7px; display:inline-block; width:83px; height:38px; font-size:15px; text-align:center; line-height:38px; border:1px solid #89d0ee; font-size:14px; color:#89d0ee; background-color:#fff;}
a.btn_left_2{float:left; margin-right:7px; display:inline-block; width:83px; height:38px; font-size:15px; text-align:center; line-height:38px; border:1px solid #89d0ee; color:#fff; background-color:#89d0ee;}

a.btn_right_1{float:right; margin-left:7px; display:inline-block; width:83px; height:38px; font-size:15px; text-align:center; line-height:38px; border:1px solid #89d0ee; color:#89d0ee; background-color:#fff;}
a.btn_right_2{float:right; margin-left:7px; display:inline-block; width:83px; height:38px; font-size:15px; text-align:center; line-height:38px; border:1px solid #89d0ee; color:#fff; background-color:#89d0ee;}

a.btn_center_1{margin-left:7px; display:inline-block; width:83px; height:38px; font-size:15px; text-align:center; line-height:38px; background-color:#89d0ee; border:1px solid #89d0ee; color:#fff;}
a.btn_center_2{margin-left:7px; display:inline-block; width:83px; height:38px; font-size:15px; text-align:center; line-height:38px; background-color:#ffffff; border:1px solid #89d0ee; color:#89d0ee;}

.ans_k{display:inline-block; width:70px; height:30px; text-align:center; line-height:30px; border:1px solid #cd3545; color:#cd3545; border-radius:3px; -webkit-border-radius:3px; background-color:#fffbfb;}
.ans_n{display:inline-block; width:70px; height:30px; text-align:center; line-height:30px; border:1px solid #aaa; color:#aaa; border-radius:3px; -webkit-border-radius:3px;}

.hide{visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}

#capcha{text-align:left; margin-top:15px; margin-left:10px; width:125px;}
