#container{position:relative; max-width:1200px; margin:0 auto; padding-bottom:120px;}
#container .con_box{display:block;}
#container .con_box img{display:block;}

.column-visual {position:relative; overflow:hidden; width:100%; background-color:#444; font-size:0; white-space:nowrap; word-break:keep-all; text-align:center;}
.column-visual .col-left,
.column-visual .col-center,
.column-visual .col-right {zoom:1; display:inline-block; position:relative; height:calc(100vh - 100px); background-position:50% 50%; background-size:auto 100%; background-repeat:none;}
.column-visual .col-left {width:33%;}
.column-visual .col-center {width:34%;}
.column-visual .col-right {width:34%;}
.column-visual .text-preview {position:absolute; top:45%; left:0; right:0; color:#fff;}
.column-visual .text-preview strong {font-weight:100; font-size:30px;}
.column-visual .text-fullview {position:absolute; top:43%; left:0; right:0; color:#fff; font-size:20px;}
.column-visual .text-fullview strong {display:block; margin-bottom:10px; font-weight:normal; font-size:34px; letter-spacing:-1px; line-height:120%;}
.column-visual .text-fullview p {font-size:20px;}
.column-visual a {overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../img/comm/blank.png) repeat; text-indent:-9999px;}
.column-visual .overlay {position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.45); -webkit-transition:all 0.4s ease;}

.con_box1 {overflow:hidden; margin-right:170px; padding-top:18px;}
.banner_link {overflow:hidden; margin-bottom:10px;}
.banner_link p {overflow:hidden; width:105%;}
.banner_link a {overflow:hidden; float:left; width:340px; margin-right:10px;}
.banner_link a:nth-child(2) {width:330px;}
.banner_link a img {display:block; width:340px; height:330px;}
.sub_link {overflow:hidden; padding:5px; background-color:#dcdcdc;}
.sub_link li {float:left; width:25%;}
.sub_link li a {display:block; height:145px; margin:5px; padding:20px 15px; background-color:#bfbfbf; color:#fff; font-size:13px; text-align:center; -webkit-transition:all 0.3s;}
.sub_link li a:hover {background-color:#89d0ee;}
.sub_link li a img {display:block; height:65px; margin:0 auto 5px;}
.sub_link li a span {display:block;}
.sub_link li a strong {display:block; margin-top:5px; font-size:17px; line-height:130%;}
.sub_link li.heading {width:50%;}
.sub_link li.heading a {height:84px; padding:51px 15px 50px; background-color:#878787;}
.sub_link li.heading a:hover {background-color:#525252;}
.sub_link li.heading a h2 {margin-bottom:10px; font-size:20px; font-weight:normal; letter-spacing:4px;}
.sub_link li.heading a h3 {font-size:14px; font-weight:100; letter-spacing:3px; text-transform:uppercase;}
.sub_link li.expand {width:33.33%;}
.sub_link li.expand a {height:100px; padding:13px 0 12px; text-align:center;}
.sub_link li.expand a img {zoom:1; display:inline-block; height:50px; margin-top:20px; margin-right:10px;}
.sub_link li.expand a span {zoom:1; display:inline-block; padding-top:20px; text-align:left;}
.sub_link li.expand a strong {display:block; margin-top:5px; font-size:17px; line-height:130%;}

.main_boards {padding:70px 0 0;}
.main_boards_inner {overflow:hidden;}
.main_boards .board_box{float:left; width:30%; margin-right:3.33%; vertical-align:top; box-sizing:border-box; position:relative;}
.main_boards .board_box .bb_tab{width:100%; position:relative; border-bottom:1px solid #ccc;}
.main_boards .board_box .bb_tab ul{margin-bottom:-1px; font-size:0;}
.main_boards .board_box .bb_tab ul li{display:inline-block; border-top:1px solid #f9f9f8; height:38px; vertical-align:top; }
.main_boards .board_box .bb_tab ul li:nth-child(2){border-left:1px solid #f9f9f8;}
.main_boards .board_box .bb_tab ul li a{display:inline-block; width:100%; padding:0 15px 0 10px; font-size:14px; letter-spacing:-1px; font-weight:600; color:#999; line-height:1; height:38px; line-height:38px; text-align:left;}
.main_boards .board_box .bb_tab ul li.on{border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #f9f9f8; color:#333; border-left:1px solid #ccc;}
.main_boards .board_box .bb_tab ul li:first-child{border-left:1px solid #f9f9f8;}
.main_boards .board_box .bb_tab ul li.on a{color:#333;}
.main_boards .board_box .more_btn{position:absolute; color:#999; font-size:13px; letter-spacing:-1px; line-height:20px; top:12px; right:0;}
.main_boards .board_box .more_btn span {zoom:1; display:inline-block; width:12px; height:12px; line-height:12px; margin-left:5px; border:1px solid #999; color:#999; font-size:12px; text-align:center;}
.main_boards .board_box table{width:100%;}
.main_boards .board_box table tr{border-bottom:1px solid #e1e1e1;}
.main_boards .board_box table td{box-sizing:border-box;}
.main_boards .board_box table td{font-size:15px; font-weight:400; letter-spacing:-1px; padding:15px 45px 15px 20px; text-align:left; color:#333; position:relative; line-height:1;}
.main_boards .board_box table td:first-child::before{content:"·"; position:absolute; top:17px; left:4px;}
.main_boards .board_box table td:last-child{font-size:12px; font-weight:400; letter-spacing:-1px; padding:0; text-align:right; color:#999; vertical-align:middle;}
.main_boards .board_box table td a {color:#666;}
.main_boards .board_box table td a:hover {text-decoration:underline;}
.main_boards .board_box .bb_con{overflow:hidden; width:100%;}
.main_boards .board_box .bb_con a{display:block;}
.main_boards .board_box .bb_con .bb_img{float:left; margin-right:10px; vertical-align:top;}
.main_boards .board_box .bb_con .bb_img img{display:block; width:140px; height:140px; object-fit:cover;}
.main_boards .board_box .bb_con dl{text-align:left; vertical-align:top; height:100%;}
.main_boards .board_box .bb_con dl dt{font-size:15px; letter-spacing:-1px; color:#666; line-height:1; margin-bottom:10px;}
.main_boards .board_box .bb_con dl dd{font-size:13px; letter-spacing:-1px; color:#666; line-height:1.4; height:75px; position:relative;}
.main_boards .board_box .bb_con dl dd a {color:#999;}
.main_boards .board_box .bb_con dl dd span{display:block; margin-top:5px; font-size:13px; font-weight:400; letter-spacing:-1px; color:#999;}
.main_boards .board_box .bb_con .notice_con{width:100%;}

.con_box3{min-width:1200px; max-width:1600px; text-align:center; position:relative; margin:0 auto;}
.con_box3 p{position:absolute; display:inline-block; top:13.38%; left:13.75%; text-align:left;}
.con_box3 p .cb3_color1{display:block; font-size:26px; font-weight:400; letter-spacing:-0.4px; color:#f8f8f8; line-height:1.6; opacity:0.5;}
.con_box3 p .cb3_color2{display:block; font-size:30px; font-weight:400; letter-spacing:-0.75px; color:#f8f8f8; line-height:1; margin:15px 0;}
.con_box3 p .cb3_color3{display:block; font-size:30px; font-weight:400; letter-spacing:0px; color:#7bc1bc; line-height:1;}

#footer{width:100%; clear:both; border-top:0;}