.color1{color:#ae792e;}
.color2{color:#70f6fe;}
.color3{color:#355394;}
.color4{color:#fff69f;}
.color5{color:#335aae;}
.color6{color:#d1581a;}
.color7{color:#106bc9;}
.color8{zoom:1; display:inline-block; height:44px; line-height:44px; padding:0 20px; border-radius:22px; background-color:#89d0ee; color:#fff;}

.sub_visual{width:1200px; height:428px; margin-bottom:90px;}
.sub1_1{background:url('../img/sub1/visual1.jpg') no-repeat center;}
.sub1_2{background:url('../img/sub1/visual2.jpg') no-repeat center;}
.sub2_1{background:url('../img/sub2/visual1.jpg') no-repeat center;}
.sub2_2{background:url('../img/sub2/visual2.jpg') no-repeat center; padding-top:80px; box-sizing:border-box;}
.sub2_3{background:url('../img/sub2/visual3.jpg') no-repeat center; height:600px; box-sizing:border-box; padding:100px 50px; position:relative;}
.sub2_3 .visual_txt2{position:absolute; display:block; /*height:1000px;*/ bottom:70px; right:440px;}
.sub2_3 .visual_txt2 .txt8::after{content:''; width:3px; height:50px; background-color:#aebec2; position:absolute; right:-15px; top:6px;}
.sub2_4{background:url('../img/sub3/visual4.jpg') no-repeat center;}
.sub3_1{background:url('../img/sub3/visual1.jpg') no-repeat center; height:609px; box-sizing:border-box; padding:100px 50px; position:relative;}
.sub3_1 .visual_txt2{position:absolute; display:block; bottom:80px; right:400px;}
.sub3_1 .visual_txt2 .txt8::after{content:''; width:3px; height:88px; background-color:#aebec2; position:absolute; right:-15px; top:6px;}
.sub3_2{background:url('../img/sub3/visual1.jpg') no-repeat center; height:609px; box-sizing:border-box; padding:100px 50px; position:relative;}
.sub3_2 .visual_txt2{position:absolute; display:block; bottom:40px; right:400px;}
.sub3_2 .visual_txt2 .txt8::after{content:''; width:3px; height:calc(100% - 2px); background-color:#aebec2; position:absolute; right:-15px; top:6px;}
.sub3_2 .visual_txt2 .txt8 span{display:inline-block; width:165px;}
.sub3_3{background:url('../img/sub3/visual3.jpg') no-repeat center;}
.sub3_4{background:url('../img/sub3/visual4.jpg') no-repeat center; height:309px;}
.sub3_5{background:url('../img/sub3/visual5.jpg') no-repeat center;}
.sub3_6{background:url('../img/sub3/visual6.jpg') no-repeat center;}
.sub3_7{background:url('../img/sub3/visual7.jpg') no-repeat center; height:350px;}
.sub3_8{background:url('../img/sub3/visual8.jpg') no-repeat center; height:340px;}
.sub3_9{background:url('../img/sub3/visual9.jpg') no-repeat center; height:311px;}
.sub3_10{background:url('../img/sub3/visual10.jpg') no-repeat center; height:1114px;}
.sub3_11{background:url('../img/sub3/visual11.jpg') no-repeat center; height:250px;}
.sub3_12{background:url('../img/sub3/visual12.jpg') no-repeat center; height:1072px;}
.sub3_12 .visual_txt1{}

#container{margin:0 80px 0 0; min-width:1200px; padding-bottom:120px;}

@media screen and (max-width:1740px) {
	#snb{display:none;}
	#snb2{overflow:hidden; height:120px; display:block; background-color:#555e66; margin:0 auto; font-size:0;}
	#snb2 .snb_tit{width:15%; height:100%; background-color:#89d0ee; font-size:25px; font-weight:600; letter-spacing:-1px; color:#fff; text-align:center; line-height:120px; display:inline-block; float:left;}
	#snb2 .snb_mn{width:85%; height:100%; font-size:0; display:inline-block; vertical-align:top;}
	#snb2 .snb_mn li{padding:0 15px; display:inline-block; line-height:60px; position:relative; box-sizing:border-box; height:60px;}
	#snb2 .snb_mn li::after{content:'|'; position:absolute; right:-1px; top:0px; color:#888f94; font-size:15px;}
	#snb2 .snb_mn li a{display:inline-block; font-size:16px; letter-spacing:-1px; color:#fff;}
	#snb2 .snb_mn li:hover a{color:#89d0ee;}
	#snb2 .snb_mn li.on a{color:#89d0ee;}
	#snb2 .snb_mn li:first-child{padding-left:25px;}
	#snb2 .snb_mn li:last-child::after{content:'';}
}

@media screen and (min-width:1741px) {
	#snb2{display:none;}
	#snb{overflow:hidden; height:60px; display:block; background-color:#555e66; margin:0 auto; font-size:0;}
	#snb .snb_tit{width:14%; height:100%; background-color:#89d0ee; font-size:25px; font-weight:600; letter-spacing:-1px; color:#fff; text-align:center; line-height:60px; display:inline-block; float:left;}
	#snb .snb_mn{width:86%; height:100%; font-size:0; display:inline-block; vertical-align:top;}
	#snb .snb_mn li{padding:0 15px; display:inline-block; line-height:60px; position:relative; box-sizing:border-box; height:60px;}
	#snb .snb_mn li::after{content:'|'; position:absolute; right:-1px; top:0px; color:#888f94; font-size:15px;}
	#snb .snb_mn li a{display:inline-block; font-size:16px; letter-spacing:-1px; color:#fff;}
	#snb .snb_mn li:hover a{color:#89d0ee;}
	#snb .snb_mn li.on a{color:#89d0ee;}
	#snb .snb_mn li:first-child{padding-left:25px;}
	#snb .snb_mn li:last-child::after{content:'';}
}

#snb1{overflow:hidden; height:60px; display:block; background-color:#555e66; margin:0 auto; font-size:0;}
#snb1 .snb_tit{width:14%; height:100%; background-color:#89d0ee; font-size:26px; font-weight:600; letter-spacing:-1px; color:#fff; text-align:center; line-height:60px; display:inline-block; float:left;}
#snb1 .snb_mn{width:86%; height:100%; font-size:0; display:inline-block; vertical-align:top;}
#snb1 .snb_mn li{padding:0 15px; display:inline-block; line-height:60px; position:relative; box-sizing:border-box; height:60px;}
#snb1 .snb_mn li::after{content:'|'; position:absolute; right:-1px; top:0px; color:#888f94; font-size:15px;}
#snb1 .snb_mn li a{display:inline-block; font-size:17px; letter-spacing:-1px; color:#fff;}
#snb1 .snb_mn li:hover a{color:#89d0ee;}
#snb1 .snb_mn li.on a{color:#89d0ee;}
#snb1 .snb_mn li:first-child{padding-left:25px;}
#snb1 .snb_mn li:last-child::after{content:'';}

#container #content-more-button {padding:0 0 80px; text-align:center;}
#container #content-more-view {position:relative;}
#container #content-more-view:before {content:""; display:block; width:100%; margin-bottom:50px; border-bottom:1px dashed #ddd;}
#container #content-more-view:after {content:"아래 내용 더 보기"; display:block; position:absolute; top:-10px; left:50%; width:160px; margin-left:-80px; background-color:#fff; color:#999; font-size:16px; text-align:center;}

#container .con_box1{width:1200px; margin:0 auto; font-size:0; box-sizing:border-box;}
#container .con_box4{width:1200px; height:1600px; margin:0 auto; font-size:0; box-sizing:border-box;}
#container .con_box2{width:100%; font-size:0; box-sizing:border-box;}
#container .con_box2_bg1{width:100%; font-size:0; background-color:#dce8e7; padding:110px 0 120px 0; box-sizing:border-box;}
#container .con_box2_bg2{width:100%; font-size:0; background-color:#dce8e7; padding:80px 0; box-sizing:border-box;}
#container .con_box2_bg3{width:100%; font-size:0; background-color:#fbfbfb; padding:50px 0; box-sizing:border-box; margin-top:80px; margin-bottom:90px;}
#container .con_box2_bg4{width:100%; font-size:0; background-color:#f8f8f8; padding:85px 0; box-sizing:border-box;}
#container .con_box2_bg5{width:100%; font-size:0; background-color:#e5edf1; padding:80px 0 100px 0; box-sizing:border-box;}
#container .con_box2_bg6{width:100%; font-size:0; background:url('../img/sub2/view_bg.jpg') repeat left top; padding:80px 0; box-sizing:border-box;}
#container .con_box3{width:1200px; margin:80px auto 0 auto; font-size:0;}

.bg_cycle{background:url('../img/sub3/bg_cycle_img.jpg') no-repeat right bottom;}
.bg_cycle2{background:url('../img/sub3/bg_cycle_img2.jpg') no-repeat; background-position:0px 290px;}
.bg_cycle3{background:url('../img/sub3/bg_cycle_img.jpg') no-repeat; background-position:533px 230px;}

#container .link_btn1{display:inline-block; font-size:18px; font-weight:600; letter-spacing:-1px; color:#fff; border:1px solid #fff; padding:10px 21px; position:absolute; right:40px; bottom:55px;}
#container .link_btn2{display:inline-block; width:212px; font-size:17px; font-weight:600; letter-spacing:-1px; color:#89d0dd; border:2px solid #89d0dd; padding:10px 0px; line-height:1; margin-top:15px; box-sizing:border-box; text-align:center;}
#container .link_btn3{display:inline-block; width:230px; font-size:16px; font-weight:600; letter-spacing:-1px; color:#666; border:2px solid #03bcd1; padding:10px 15px; line-height:1; box-sizing:border-box; text-align:left; position:relative;}
#container .link_btn3 .color1{color:#03bcd1;}
#container .link_btn3::after{content:'+'; font-size:16px; letter-spacing:-0.25px; color:#666; position:absolute; top:9px; right:10px;}
#container .link_btn4{display:inline-block; width:202px; font-size:17px; font-weight:600; letter-spacing:-1px; color:#666; border:2px solid #89d0dd; padding:10px 15px; line-height:1; box-sizing:border-box; text-align:center; position:relative;}
#container .link_btn4 .color1{color:#2bb0a0;}
#container .link_btn5{display:inline-block; font-size:18px; font-weight:bold; letter-spacing:-1px; color:#89d0dd; border:2px solid #89d0dd; padding:14px 20px; line-height:1; -webkit-transition:all 0.3s; background-color:#fff;}
#container .link_btn5:hover {background:#89d0dd; color:#fff;}
#container .link_btn5 i {margin-left:5px;}

.sub_tit{font-size:47px; font-weight:100; letter-spacing:-1.25px; color:#1e1d1d; text-align:center; line-height:1.2; margin-top:90px;}
.sub_tit br {display:none;}
.sub_tit .st_bold{display:block; font-size:70px; font-weight:600; letter-spacing:-5px}
.sub_tit .st_bold2{display:block; font-size:65px; font-weight:600; letter-spacing:-3px}
.sub_tit .st_color1{color:#89d0ee;}
.sub_tit .st_bold2 .st_color1{display:block;}
.sub_tit2{font-size:35px; letter-spacing:-1.25px; color:#1e1d1d; line-height:1.4;}
.sub_tit2 b{font-size:42px; font-weight:600;}
.sub_stit{font-size:38px; letter-spacing:-1.25px; color:#1e1d1d; text-align:center; line-height:1.4; margin-bottom:20px;}
.sub_stit b{font-weight:600;}
.sub_stit2{font-size:38px; letter-spacing:-1.25px; color:#1e1d1d; text-align:center; line-height:1.3; margin-bottom:20px;}
.sub_stit2 b{font-weight:600;}
.sub_stit3{font-size:24px; letter-spacing:-1.25px; color:#1e1d1d; text-align:center; line-height:1.3;}
.sub_stit3 b{font-weight:600;}
.sub_icon{display:block; margin:0 auto 10px auto;}

.txt1{font-size:21px; letter-spacing:-0.75px; color:#333; line-height:1.6; text-align:center; margin-bottom:10px;}
.txt1_b{font-size:21px; font-weight:600; letter-spacing:-0.75px; color:#333; line-height:1.5; text-align:left; margin-bottom:10px;}
.txt2{font-size:21px; letter-spacing:-0.75px; color:#333; line-height:1.6; text-align:center; margin-bottom:85px;}
.txt3{font-size:20px; letter-spacing:-0.5px; color:#b9c8ce; line-height:1.3; text-align:center;}
.txt3_2{font-size:18px; letter-spacing:-.5px; color:#969696; line-height:1.6; text-align:center;}
.txt4{font-size:52px; letter-spacing:-0.75px; color:#1e1d1d; line-height:1.2; padding-bottom:40px; background:url('../img/sub/line01.png') no-repeat bottom center; text-align:center;}
.txt4 .bold{font-weight:600;}
.txt5{font-size:20px; letter-spacing:-0.75px; color:#666; line-height:1.6; text-align:center;}
.txt6{font-size:21px; letter-spacing:-0.75px; color:#666; line-height:1.4; text-align:left;}
.txt7{font-size:18px; letter-spacing:-0.75px; color:#838d8c; line-height:1.4; text-align:center;}
.txt8{font-size:18px; letter-spacing:-0.75px; color:#6f898f; line-height:1   .4; text-align:center; position:relative;}
.txt8 .bold{font-weight:600;}
.txt9{font-size:40px; font-weight:600; letter-spacing:-0.75px; color:#333; line-height:14.; text-align:center;}
.txt10{font-size:50px; letter-spacing:-0.75px; color:#1e1d1d; line-height:1.2; padding-bottom:40px; background:url('../img/sub/line01.png') no-repeat bottom center; text-align:center;}
.txt10 .bold{font-weight:600;}
.txt11{font-size:30px; font-weight:600; letter-spacing:-0.75px; color:#666; line-height:1; text-align:center;}
.txt12{font-size:20px; letter-spacing:-0.75px; color:#333; line-height:1.6; text-align:center;}
.txt13{font-size:20px; letter-spacing:-0.75px; line-height:1.5; text-align:center;}
.txt14{font-size:28px; font-weight:600; letter-spacing:-0.75px; color:#1e1d1d; line-height:1.4; text-align:center;}
.txt15{font-size:19px; letter-spacing:-0.75px; color:#666; line-height:1.6; text-align:center;}
.txt16{font-size:30px; letter-spacing:-0.75px; color:#333; line-height:1.6; text-align:center;}
.txt17{font-size:21px; letter-spacing:-0.75px; color:#666; line-height:1.4; text-align:center;}

.tt_color0{color:#1e1d1d;}
.tt_color1{color:#89d0ee;}
.tt_color2{color:#000;}
.tt_color3{color:#333;}
.tt_color4{color:#dadada;}
.tt_color5{color:#666;}
.tt_color6{}

.lh50{line-height:50px;}

.li_box{width:100%;}
.li_box ul{font-size:0;}
.li_box ul li{width:50%; display:inline-block; margin-bottom:90px; vertical-align:top;}
.li_box ul li img{display:block;}
.li_box ul li .num_tit{position:relative; width:100%; height:86px; padding-left:100px; font-size:30px; font-weight:600; letter-spacing:-0.75px; color:#333; box-sizing:border-box; margin-bottom:15px; line-height:43px;}
.li_box ul li .num_tit img{display:inline-block; position:absolute; top:0; left:0;}
.li_box ul li .hx_txt1{font-size:21px; letter-spacing:-0.75px; color:#666; line-height:1.6;}
.li_box ul li .hx_txt2{font-size:16px; letter-spacing:-0.75px; color:#969696; line-height:1.4;}
/* .visual_img{width:100%; height: auto; display:block;} */
.img_box{width:100%; height:510px; background:url('../img/sub1/f_visual1.jpg') no-repeat center; background-size:cover; box-sizing:border-box; padding-top:30px;}
.img_box img {display:none;}
.cb_ltxt{display:inline-block; width:60%; font-size:21px; letter-spacing:-0.75px; color:#666; line-height:1.4; margin-top:15px; vertical-align:top;}
.cb_ltxt .ltxt_bold{font-size:30px; font-weight:600; color:#333; margin-bottom:25px;}
.cb_rimg{display:inline-block; width:40%; vertical-align:top;}
.cb_rimg img{display:block; margin:0 auto;}

.img_box2{width:1150px; margin:80px auto 0 auto; box-sizing:border-box; border:8px solid #f0f0f0; padding:40px;}
.pd2{padding:20px;}
.img_box2 .ib2_tit1{font-size:32px; font-weight:600; letter-spacing:-0.75px; color:#333; font-family:'Nanum Myeongjo'; line-height:1; margin-bottom:28px;}

.img_box2 .cb_limg{display:inline-block; vertical-align:top;}
.img_box2 .cb_limg img{display:block; width:335px; height:265px;}
.img_box2 .cb_rtxt{display:inline-block; width:calc(100% - 425px); vertical-align:top; padding-top:30px;}
.img_box3{width:100%; margin-top:100px; padding:80px 0 120px 0; text-align:center; border-top:1px solid #000; background-color:#f8f8f8;}
.img_box3 .ib3_tit{width:1200px; margin:45px auto 10px auto; font-size:30px; font-weight:600; letter-spacing:-0.75px; color:#fff; background:url('../img/sub1/con2_3.jpg') no-repeat center; text-align:center; line-height:1.3; padding:30px 0;}
.img_box3 .ib3_con{width:1200px; margin:0 auto; padding:30px 40px; box-sizing:border-box;}
.img_box3 .ibc_01{background-color:#878278;}
.img_box3 .ibc_02{background-color:#5e8083;}
.img_box3 .ib3_con p{font-size:30px; font-weight:600; line-height:1; letter-spacing:-0.75px; color:#ffffcc; text-align:left;}
.img_box3 .ib3_con .stit{margin-top:20px;}
.img_box3 .ib3_con .stit li{width:100%; font-size:19px; letter-spacing:-0.75px; line-height:1; margin-bottom:10px; position:relative; text-align:left; color:#fff; padding-left:10px;}
.img_box3 .ib3_con .stit li::before{content:'·'; top:0; left:-5px; position:absolute; color:#fff; font-size:19px;}
.img_box3 .ib3_con .stit li:last-child{margin-bottom:15px;}
.img_box3 .ib3_con .stxt{display:block; width:100%; box-sizing:border-box; padding:10px; background-color:rgba(0,0,0,0.2); border-radius:5px;}
.img_box3 .ib3_con .stxt li{font-size:16px; letter-spacing:-0.75px; line-height:1.6; color:#fff; text-align:left; opacity:0.8; padding-left:5px;}
.img_box3 .ib3_lcon{display:inline-block;}
.img_box3 .lc_tit{font-size:25px; font-weight:600; letter-spacing:-0.75px; color:#1e1d1d; line-height:1.6; text-align:left; position:relative;}
.img_box3 .flag_icon{position:absolute; top:-10px; left:0;}
.img_box3 .lc_con{font-size:22px; letter-spacing:-0.75px; color:#666; line-height:1.3; text-align:left;}
.img_box3 .ib3_con2{width:1200px;}
.img_box3 .ib3_con2 li{display:inline-block; width:50%; box-sizing:border-box; vertical-align:top;}
.img_box3 .ib3_con2 li:nth-child(n-1){margin-bottom:40px;}
.img_box3 .ib3_con2 li:nth-child(odd){padding-left:25px;}
.img_box3 .ib3_con2 li:nth-child(even){padding-left:60px;}
.img_box4{width:1200px; text-align:center; font-size:0;}
.img_box4 .ib4_ltxt{width:806px; display:inline-block; vertical-align:top; margin-top:35px;}
.img_box4 .ib4_rimg{width:calc(100% - 806px); display:inline-block; vertical-align:top;}
.img_box5{width:1200px; font-size:0;}
.img_box5 .ib5_ltxt{width:583px; display:inline-block; vertical-align:top; margin-right:133px; box-sizing:border-box; padding-left:25px;}
.img_box5 .ib5_rimg{width:calc(100% - 716px); display:inline-block; vertical-align:top;}
.img_box6{max-width:1200px; margin:25px auto; padding:0 0 25px; border:2px solid #dcdcdc; background-color:#fff;}
.img_box6 .ib6_tit{position:relative; padding:50px 20px 0; font-size:38px; text-align:center;}
.img_box6 .ib6_tit:after {content:""; display:block; width:600px; margin:40px auto 0; border-bottom:1px solid #dcdcdc;}
.ib_bg01{}
.ib_bg02{}

.login_required {padding:100px; text-align:center;}
.login_required p {margin-bottom:20px; font-weight:normal; font-size:16px;}

.sub_visual_link{width:100%; display:block; font-size:0;}
.sub_visual_link img{display:inline-block !important; vertical-align:top;}
.sub_visual_link .con_link{width:calc(100% - 503px); height:359px; box-sizing:border-box; padding:55px 0 55px 40px;  display:inline-block; vertical-align:top; background-color:#89d0ee; position:relative;}
.sub_visual_link .con_link p{font-size:21px; letter-spacing:-0.75px; color:#fff; line-height:1.4; text-align:left;}

.check_list{width:1200px; margin:40px auto 0 auto;}
.check_list li{display:block; width:100%; font-size:21px; letter-spacing:-0.75px; color:#666; line-height:1.4; text-align:left; box-sizing:border-box; padding-left:60px; margin-bottom:60px; position:relative; vertical-align:top;}
.check_list li:last-child{margin-bottom:0;}
.check_list li::before{content:url('../img/sub2/check_yes.png'); position:absolute; top:2px; left:0; }

.check_list2{width:1200px; margin:40px auto 0 auto;}
.check_list2 li{display:block; width:100%; font-size:21px; letter-spacing:-0.75px; color:#666; line-height:1.4; text-align:left; box-sizing:border-box; padding-left:60px; margin-bottom:60px; position:relative; vertical-align:top;}
.check_list2 li:last-child{margin-bottom:0;}
.check_list2 li::before{content:url('../img/sub2/color_check_yes.png'); position:absolute; top:2px; left:0;}

.check_list3{width:1200px; margin:40px auto 0 auto;}
.check_list3 li{display:inline-block; width:50%; box-sizing:border-box; vertical-align:top;}
.check_list3 li .check_img{display:block; width:39px; margin:0 auto 20px auto;}
.check_list3 li .line{border-right:1px solid #dbe2e5;}

.check_list4{width:1200px; margin:40px auto 0 auto;}
.check_list li{display:block; width:100%; font-size:21px; letter-spacing:-0.75px; color:#666; line-height:1.4; text-align:left; box-sizing:border-box; padding-left:60px; margin-bottom:60px; position:relative; vertical-align:top;}
.check_list li:last-child{margin-bottom:0;}
.check_list4 .round_box1{width:175px; height:44px; display:block; margin:30px 0 10px -20px; box-sizing:border-box; font-size:24px; font-weight:600; letter-spacing:-0.75px; text-align:center; line-height:44px; border-radius:22px; background-color:#7ebfcd; color:#fff;}

.check_list5{width:1200px; margin:40px auto 0 auto;}
.check_list5 li{box-sizing:border-box; padding-left:103px; position:relative; margin-bottom:35px;}
.check_list5 li::before{content:''; background:url('../img/sub3/color_check.png') no-repeat center; width:39px; height:29px; position:absolute; top:0px; left:54px;}
.check_list5 li:last-child{margin-bottom:0;}

.process_list{margin:40px auto 0 auto; display:block; width:1150px; box-sizing:border-box;}
.process_list li{display:inline-block; width:555px; box-sizing:border-box; vertical-align:top; text-align:center; position:relative; padding:10px; margin-bottom:40px;}
.process_list li:nth-child(odd){margin-right:40px;}
.process_list li .num{position:absolute; top:225px; left:25px;}
.process_list li .pl_con{font-size:19px; letter-spacing:-0.75px; color:#000; line-height:1.43; text-align:left; margin-top:25px; padding-left:100px;}
.process_list li .p_link_btn3{background-color:transparent; border:2px solid #fff; color:#1e1d1d; font-size:16px; letter-spacing:-1px; text-align:center; padding:10px; line-height:1; position:relative; display:inline-block; width:230px; box-sizing:border-box; margin-bottom:13px;}
.process_list li .p_link_btn3 .color1{color:#fff;}
.process_list .bg1{background-color:#7dddcd;}
.process_list .bg2{background-color:#73d5e0;}
.process_list .bg3{background-color:#66d3f2;}
.process_list .bg4{background-color:#44b6eb;}

.profile_box {zoom:1; display:inline-block; overflow:hidden; padding:10px 10px 10px 10px ;  background-color:#f1f0ee; text-align:left;}
.profile_box figure {display:block;}
.profile_box figure img {display:block; width:100%;}
.profile_box ul {margin:10px 0 20px;}
.profile_box ul li {zoom:1; display:inline-block; margin-right:10px; color:#777; font-size:18px;}
.profile_box ul li i {color:#b09b8a; font-size:22px;}
.profile_box button {border:3px solid #6d6d6b; background:none; color:#666; font-size:18px; cursor:pointer;}

/* 진료미리보기 의료진 팝업 */
.doctor_box{display:none; position:fixed; top:0; left:0; z-index:100000; width:100%; height:100%; background-color:rgba(0,0,0,0.8);}
.doctor_box .btn_close{position:absolute; top:0; left:0;}
.doctor_box .slide_main {margin:98px auto 7% auto; width:920px; background-color:#fff; position:relative;}
.doctor_box .slide_main .arr_area {position:absolute; top:0; left:100%; z-index:50}
.doctor_box .slide_main .arr_area ul {margin:80px 0 0; white-space:nowrap; word-break:keep-all; text-align:left;}
.doctor_box .slide_main .arr_area ul li {zoom:1; display:inline-block;}

.doctor_box .slide_main .slide_visual{width:100%; position:relative; /*overflow:hidden;*/}
.doctor_box .slide_main .slide_visual img{width:100%;}
.doctor_box .slide_main .slide_visual ul li {width:100%; position:relative;}

.number_list1{width:100%; margin-top:55px;}
.number_list1 .nl{padding-left:110px; padding-right:55px; margin-bottom:35px; position:relative;}
.number_list1 .nl:last-child{margin-bottom:0;}
.number_list1 .nl:nth-child(1)::before{content:"1"; position:absolute; font-size:70px; letter-spacing:-0.75px; color:#00a5e1; top:-5px; left:55px; width:40px; display:inline-block; text-align:center; line-height:1;}
.number_list1 .nl:nth-child(2)::before{content:"2"; position:absolute; font-size:70px; letter-spacing:-0.75px; color:#00a5e1; top:-5px; left:55px; width:40px; display:inline-block; text-align:center; line-height:1;}
.number_list1 .nl:nth-child(3)::before{content:"3"; position:absolute; font-size:70px; letter-spacing:-0.75px; color:#00a5e1; top:-5px; left:55px; width:40px; display:inline-block; text-align:center; line-height:1;}
.number_list1 .nl:nth-child(4)::before{content:"4"; position:absolute; font-size:70px; letter-spacing:-0.75px; color:#00a5e1; top:-5px; left:55px; width:40px; display:inline-block; text-align:center; line-height:1;}
.number_list1 .nl:nth-child(5)::before{content:"5"; position:absolute; font-size:70px; letter-spacing:-0.75px; color:#00a5e1; top:-5px; left:55px; width:40px; display:inline-block; text-align:center; line-height:1;}

.sub_img_box{width:1200px; margin:80px auto 40px auto; box-sizing:border-box; position:relative;}
.sub_img_box img{width:100%; height:auto;}
.sub_img_box .txt1{font-size:21px; letter-spacing:-0.75px; color:#333; line-height:1.6; text-align:center; margin-bottom:0px; position:absolute; top:140px; right:0; width:601px;}
.sub_img_box .txt1_bold1{display:inline-block; font-size:30px; font-weight:600; letter-spacing:-0.75px; color:#333; line-height:1; margin-bottom:30px;}
.sub_img_box .txt1_bold2{display:inline-block; font-size:30px; font-weight:600; letter-spacing:-0.75px; color:#333; line-height:inherit;}
.sub_img_box .no_img_box{line-height:60px;}
.sub_img_box .no_img_box #nib_img{width:54px; height:60px; display:inline-block; margin-right:15px;}
.sib_con{width:1200px; margin:0 auto; display:block;}
.sib_con li{width:100%; font-size:19px; letter-spacing:-0.75px; color:#666; line-height:1.6; padding-left:45px; position:relative; margin-bottom:35px; box-sizing:border-box;}
.sib_con li::before{content:'•'; font-size:19px; line-height:1.6; color:#7ebfcd; position:absolute; top:0; left:25px;}
.sib_con li:last-child{margin-bottom:0;}

.circle_img_box{width:895px; margin:20px auto 0 auto; font-size:0;}
.circle_img_box div{display:inline-block; vertical-align:top;}
.circle_img_box .circle1{width:148px; height:148px; font-size:26px; font-weight:600; letter-spacing:-0.75px; color:#fff; background-color:#89d0ee; border-radius:50%; margin-right:20px; text-align:center; line-height:148px;}
.circle_img_box .circle_txt{width:calc(100% - 168px); font-size:18px; letter-spacing:-0.75px; color:#333; padding:20px 0; line-height:1.5;}

.chart_box1{display:block; width:1100px; margin:0 auto; font-size:0;}
.chart_box1 .cb_img{display:inline-block; vertical-align:top; width:50%; box-sizing:border-box;}
.chart_box1 .cb_con{display:inline-block; padding:78px 0 78px 55px; vertical-align:top; width:50%; box-sizing:border-box;}
.chart_box1 .cb_con .cbc_tit{font-size:30px; font-weight:600; letter-spacing:-0.75px; line-height:1; color:#333; margin-bottom:30px;}
.chart_box2{display:block; width:1098px; margin:0 auto; font-size:0;}
.chart_box2 .cb_img{display:inline-block; vertical-align:top;}
.chart_box2 .cb_con{display:inline-block; padding:20px 0 0px 55px; vertical-align:top;}
.chart_box2 .cb_con .cbc_tit{font-size:30px; font-weight:600; letter-spacing:-0.75px; line-height:1; color:#333; margin-bottom:30px;}

.gray_box1{display:block; width:1150px; margin:80px auto 110px auto; box-sizing:border-box; border:8px solid #f0f0f0; padding:30px 28px;}
.gray_box1 .gb1_con1 li{width:100%; padding-left:10px; margin-bottom:40px; position:relative;}
.gray_box1 .gb1_con1 li:last-child{margin-bottom:0;}
.gray_box1 .gb1_con1 li::before{content:"•"; font-size:21px; font-weight:600; line-height:1; position:absolute; top:5px; left:-10px; color:#666;}
.gray_box2{display:block; width:1172px; margin:40px auto 35px auto; box-sizing:border-box; padding:37px 40px; border:10px solid #ededed; border-radius:30px;}
.gray_box2 .gray_list{width:100%;}
.gray_box2 .gray_list li{width:50%; font-size:19px; letter-spacing:-0.75px; color:#000; text-align:left; line-height:1.5; display:inline-block; box-sizing:border-box; vertical-align:top;}
.gray_box2 .gray_list li:nth-child(1),.gray_box2 .gray_list li:nth-child(2){margin-bottom:40px;}
.gray_box2 .gray_list li:nth-child(even){padding-left:50px;}
.gray_box2 .gray_list li p{font-size:29px; font-weight:600; letter-spacing:-0.75px; color:#333; margin-bottom:5px;}
.gray_box2 .gb2_table{width:100%;}
.gray_box2 .gb2_table tr:first-child td{padding-bottom:40px;}
.gray_box2 .gb2_table tr td{width:50%; font-size:19px; letter-spacing:-0.75px; color:#000; text-align:left; line-height:1.5;}
.gray_box2 .gb2_table tr td:last-child{padding-left:50px;}
.gray_box2 .gb2_table tr td p{font-size:29px; font-weight:600; letter-spacing:-0.75px; color:#333; margin-bottom:5px;}
.gray_box3{width:623px; margin:100px auto 0 auto; padding:30px 20px; border-radius:5px; background-color:#f3f3f3; font-size:18px; letter-spacing:-0.75px; box-sizing:border-box; position:relative;}
.gray_box3 b{font-weight:600;}
.gray_box3::after{content:''; position:absolute; display:inline-block; width:121px; height:7px; background:url('../img/sub3/gray_box_line.png') no-repeat left; top:50%; transform:translateY(-50%); right:-118px;}
.gray_box4{width:583px; margin:245px auto 0 auto; padding:30px 20px; border-radius:5px; background-color:#f3f3f3; font-size:18px; letter-spacing:-0.75px; box-sizing:border-box; position:relative;}
.gray_box4 b{font-weight:600;}
.gray_box4::after{content:''; position:absolute; display:inline-block; width:123px; height:7px; background:url('../img/sub3/gray_box_line.png') no-repeat left; top:50%; transform:translateY(-50%); right:-119px;}
.gray_box5{display:block; width:1000px; margin:20px 0; box-sizing:border-box; border:1px solid #ddd; padding:30px; background-color:#f8f8f8; border-radius:10px;}
.gray_box5 .gb5_con1 li{width:100%; padding-left:10px; margin-bottom:20px; position:relative; font-size:19px; letter-spacing:-0.75px; color:#666;}
.gray_box5 .gb5_con1 li:last-child{margin-bottom:0;}
.gray_box5 .gb5_con1 li::before{content:"•"; font-size:19px; font-weight:600; line-height:19px; position:absolute; top:2px; left:-10px; color:#bdbdbd;}

.img_box5 .gray_box4::after{content:''; position:absolute; display:inline-block; width:95px; height:7px; background:url('../img/sub3/gray_box_line.png') no-repeat left; top:50%; transform:translateY(-50%); right:-92px;}

.white_box1{width:100%; box-sizing:border-box; padding:20px; border:1px solid #ddd; background-color:#fff; border-radius:10px; text-align:left;}
.white_box1 li{width:100%; padding-left:10px; position:relative;}
.white_box1 li:last-child{margin-bottom:0;}
.white_box1 li::before{content:"•"; font-size:19px; line-height:19px; position:absolute; top:2px; left:-10px; color:#bdbdbd;}

.cnum_list{width:100%; margin-top:60px;}
.cnum_list li{width:100%; margin-bottom:40px; box-sizing:border-box; padding-left:200px; position:relative;}
.cnum_list li:nth-child(1)::before{content:''; background:url('../img/sub3/sub_listicon_1.png') no-repeat center; width:170px; height:170px; position:absolute; display:block; top:-10px; left:0;}
.cnum_list li:nth-child(2)::before{content:''; background:url('../img/sub3/sub_listicon_2.png') no-repeat center; width:170px; height:170px; position:absolute; display:block; top:-10px; left:0;}
.cnum_list li:nth-child(3)::before{content:''; background:url('../img/sub3/sub_listicon_3.png') no-repeat center; width:170px; height:170px; position:absolute; display:block; top:-10px; left:0;}
.cnum_list li:last-child::before{content:''; background:url('../img/sub3/sub_listicon_4.png') no-repeat center; width:170px; height:170px; position:absolute; display:block; top:-10px; left:0;}
.cnum_list li:last-child{margin-bottom:75px;}
.cnum_list li .cnum_tit{font-size:26px; font-weight:700; letter-spacing:-0.75px; line-height:1; color:#333; margin-bottom:20px;}
.cnum_list li .cnum_tit .color1{color:#89d0dd;}
.cnum_list2{width:100%; margin-top:60px;}
.cnum_list2 li{width:100%; margin-bottom:40px; box-sizing:border-box; padding-left:200px; position:relative;}
.cnum_list2 .check::before{content:''; background:url('../img/sub3/sub_listicon_1.png') no-repeat center; width:170px; height:170px; position:absolute; display:block; top:-10px; left:0;}
.cnum_list2 .drug::before{content:''; background:url('../img/sub3/sub_listicon_2.png') no-repeat center; width:170px; height:170px; position:absolute; display:block; top:-10px; left:0;}
.cnum_list2 .chim::before{content:''; background:url('../img/sub3/sub_listicon_3.png') no-repeat center; width:170px; height:170px; position:absolute; display:block; top:-10px; left:0;}
.cnum_list2 .nutrition::before{content:''; background:url('../img/sub3/sub_listicon_4.png') no-repeat center; width:170px; height:170px; position:absolute; display:block; top:-10px; left:0;}
.cnum_list2 .diet::before{content:''; background:url('../img/sub3/sub_listicon_5.png') no-repeat center; width:170px; height:170px; position:absolute; display:block; top:-10px; left:0;}
.cnum_list2 li:last-child{margin-bottom:75px;}
.cnum_list2 li .cnum_tit{font-size:26px; font-weight:700; letter-spacing:-0.75px; line-height:1; color:#333; margin-bottom:20px;}
.cnum_list2 li .cnum_tit .color1{color:#89d0dd;}

.circle2{display:block; width:388px; height:388px; box-sizing:border-box; border-radius:50%; background-color:#89d0dd; padding:100px 0 140px 0; margin:0 auto 30px auto; text-align:center; font-size:30px; letter-spacing:-0.75px; color:#fff; line-height:1;}
.circle2 .cc_tit{font-size:40px; font-weight:600; letter-spacing:-0.75px; color:#fff; line-height:1.3;}
.circle2 .cc_tit .color1{color:#000;}

.hex_box{display:inline-block; font-size:20px; font-weight:600; letter-spacing:-0.25px; color:#fff; background-color:#03bcd1; position:relative; box-sizing:border-box; height:45px; line-height:45px; text-align:center; margin-bottom:25px;}
.hex_box::before{content:''; width: 0; height: 0; border-top: 22.5px solid transparent; border-right: 20px solid #03bcd1; border-bottom: 22.5px solid transparent; position:absolute; top:0; left:-20px;}
.hex_box::after{content:''; width: 0; height: 0; border-top: 22.5px solid transparent; border-left: 20px solid #03bcd1; border-bottom: 22.5px solid transparent; position:absolute; top:0; right:-20px;}
.hex_box2{display:inline-block; font-size:20px; font-weight:600; letter-spacing:-0.25px; color:#fff; background-color:#333; position:relative; box-sizing:border-box; height:45px; line-height:45px; text-align:center; margin:40px 0 20px 0;}
.hex_box2::before{content:''; width: 0; height: 0; border-top: 22.5px solid transparent; border-right: 20px solid #333; border-bottom: 22.5px solid transparent; position:absolute; top:0; left:-20px;}
.hex_box2::after{content:''; width: 0; height: 0; border-top: 22.5px solid transparent; border-left: 20px solid #333; border-bottom: 22.5px solid transparent; position:absolute; top:0; right:-20px;}

#container .pb120{padding-bottom:120px;}

/* search_box */
.search_box{width:100%; overflow:hidden;}
.search_box .count{width:300px; font-size:14px; float:left; padding-top:5px;}
.search_box .count span{font-weight:600; letter-spacing:-0.25px;}
.search_box .wrap_search{float:right; overflow:hidden;}
.search_box .wrap_search select{vertical-align:middle;}
.search_box .inp_box{display:inline-block; border:1px solid #d8d8d8; vertical-align:middle;}
.search_box .inp_box .inp_type{border:none; padding:7px 6px 6px 6px;}
.search_box .inp_box img{padding:7px 8px 6px 4px;}

.search_box .cate{width:500px; font-size:15px; float:left; padding-top:5px; font-weight:600;}
.search_box .cate label{vertical-align:0; margin-right:7px; color:#5b5b5b;}
.search_box .cate input{vertical-align:-2px;}

/* tbl_comm */
.tbl_comm{width:100%; overflow:hidden; margin-top:20px;}
.tbl_comm th{padding:10px; border-top:1px solid #bbb; border-bottom:1px solid #bbb; background-color:#f3f4f6; font-size:15px;}
.tbl_comm tbody th{padding:10px; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; background-color:#f8f8f8; font-size:15px;}
.tbl_comm td{padding:12px; border-bottom:1px solid #dfdfdf; font-size:15px; text-align:center; color:#323232;}
.tbl_comm td.li_txt{padding:18px 20px; line-height:1.7; text-align:left;}
.tbl_comm tr.notice td{background-color:#f3fbfe;}
.tbl_comm .img_notice td{vertical-align:middle; line-height:100px;}

.ans_ok{display:inline-block; width:77px; height:30px; text-align:center; line-height:30px; border:1px solid #00bfef; -webkit-border-radius:3px; border-radius:3px; background-color:#f7fcfe; color:#3fade1; font-size:15px;}
.ans_no{display:inline-block; width:77px; height:30px; text-align:center; line-height:30px; border:1px solid #979797; -webkit-border-radius:3px; border-radius:3px; background-color:#fff; color:#979797; font-size:15px;}

.tbl_view{width:100%; overflow:hidden; border-top:1px solid #dbdbdb; position:relative;}
.tbl_view th{padding:10px; font-size:15px; border:1px solid #dfdfdf; border-top:0; background-color:#f8f8f8; color:#474747;}
.tbl_view td{padding:10px; font-size:14px; border-bottom:1px solid #dfdfdf; color:#474747;}
.tbl_view tr .td_title{color:#000;}
.tbl_view tr .txt_box{color:#000; padding:15px; line-height:1.6; font-size:16px;}
.tbl_view tr .txt_box .tb_tit2{font-weight:600;}
.tbl_view tr .txt_box .tb_cnt2{}
.tbl_view tr .txt_box .tb_img2{width:70%; margin-bottom:30px;}
/*.tbl_view tr .txt_box img{width:97%;}*/
.comm_list li{font-size:14px;}

.tbl_view .last_tr td{border-bottom:1px solid #000;}

/* board */
.board_box{margin:0 auto; width:1200px;}
.board_tit{width:100%; padding:70px 0 50px; text-align:center;}
.board_tit h2{font-size:47px; font-weight:100; letter-spacing:-1px; margin-bottom:10px; line-height:1.3; background:url('../img/sub/line01.png') no-repeat bottom center; padding-bottom:25px;}
.board_tit p{font-size:21px; letter-spacing:-1px; line-height:1.3; margin-top:25px;}
.board_tit .color1{color:#89d0ee;}

.tab_type2{overflow:hidden; position:relative; padding-left:1px; margin-bottom:30px;}
.tab_type2 li{width:50%; height:50px; font-size:17px; text-align:center; line-height:50px; float:left; font-weight:300; color:#666; margin-left:-1px; cursor:pointer; border:1px solid #c6c6c6; border-bottom:1px solid #000; box-sizing:border-box;}
.tab_type2 li a{display:inline-block; width:100%; height:100%; font-weight:300; color:#666;}
.tab_type2 li.on{position:absolute; z-index:10; border:1px solid #000; border-bottom:0; background-color:#fff; color:#333; font-weight:600; position:relative; z-index:1;}
.tab_type2 li.on a{color:#333; font-weight:600;}

.tab_type3{overflow:hidden; position:relative; padding-left:1px; margin-bottom:30px;}
.tab_type3 li{width:33.33%; height:50px; font-size:17px; text-align:center; line-height:50px; float:left; font-weight:300; color:#666; margin-left:-1px; cursor:pointer; border:1px solid #c6c6c6; border-bottom:1px solid #000; box-sizing:border-box;}
.tab_type3 li.on{position:absolute; z-index:10; border:1px solid #000; border-bottom:0; background-color:#fff; color:#333; font-weight:600; position:relative; z-index:1;}
.tab_type3 li a{display:inline-block; width:100%; height:100%;}

.tab_type4{overflow:hidden; position:relative; padding-left:1px; margin-bottom:30px;}
.tab_type4 li{width:25%; height:50px; font-size:17px; text-align:center; line-height:50px; float:left; font-weight:300; color:#666; margin-left:-1px; cursor:pointer; border:1px solid #c6c6c6; border-bottom:1px solid #000; box-sizing:border-box;}
.tab_type4 li.on{position:absolute; z-index:10; border:1px solid #000; border-bottom:0; background-color:#fff; color:#333; font-weight:600; position:relative; z-index:1;}

.tab_type6{overflow:hidden; position:relative; padding-left:1px; margin-bottom:30px;}
.tab_type6 li{width:16.6%; height:50px; font-size:15px; text-align:center; line-height:50px; float:left; font-weight:300; color:#666; margin-left:-1px; cursor:pointer; border:1px solid #c6c6c6; border-bottom:1px solid #000; box-sizing:border-box;}
.tab_type6 li.on{position:absolute; z-index:10; border:1px solid #000; border-bottom:0; background-color:#fff; color:#333; font-weight:600; position:relative; z-index:1;}

.tab_type8{overflow:hidden; position:relative; padding:1px 0 0 1px; margin-bottom:30px;}
.tab_type8 li{width:25%; height:50px; font-size:16px; text-align:center;line-height:50px; float:left; font-weight:300; color:#666; margin:-1px 0 0 -1px; cursor:pointer; border:1px solid #c6c6c6; box-sizing:border-box;}
.tab_type8 li:hover,
.tab_type8 li:focus,
.tab_type8 li.on{position:absolute; z-index:10; background-color:#00bfef; color:#fff; font-weight:600; position:relative; z-index:1;}

/* news_type */
.photo_list{width:100%; border-top:1px solid #dbdbdb; font-size:0;}
.photo_list li{width:100%; overflow:hidden; border-bottom:1px solid #dfdfdf; padding:20px 0;}
.photo_list li .pho_list1{width:12%; display:inline-block; text-align:center; color:#a6a6a6; padding-top:45px; font-size:14px; vertical-align:top;}
.photo_list li .pho_list1 span{font-size:30px; font-weight:600; color:#696969;}
.photo_list li .pho_list2{width:21%; height:160px; display:inline-block; overflow:hidden; border:1px solid #d6d6d6; background-color:#333; vertical-align:top;}
.photo_list li .pho_list2 img{width:100%; height:100%; object-fit:cover;}
.photo_list li .pho_list3{width:63%; display:inline-block; padding:10px 40px 0; box-sizing:border-box; vertical-align:top;}
.photo_list li .pho_list3 dt{font-size:19px; font-weight:600; color:#323232; padding-bottom:15px;}
.photo_list li .pho_list3 dt span{font-size:15px; color:#575757; display:inline-block; margin-right:5px; padding:1px 6px 2px; background-color:#f7fcfe; border:1px solid #00bfef; border-radius:3px;}
.photo_list li .pho_list3 dd{font-size:15px; color:#666666; display:block; height:90px; overflow:hidden;}
.photo_list li .pho_list3 dd.hit_box{height:20px; font-size:14px; color:#979797; padding-top:5px;}
.photo_list li .pho_list3 dd.hit_box span{font-size:11px; padding:0 5px; font-weight:200; color:#dbdbdb; vertical-align:1px;}

/* .letter_pho_li li{width:100%; height:118px; overflow:hidden; border-bottom:1px solid #dfdfdf; padding:20px 0;}
.letter_pho_li li .pho_list1{width:12%; float:left; text-align:center; color:#a6a6a6; padding-top:26.5px; font-size:14px;}
.letter_pho_li li .pho_list3{width:60%; display:inline-block; padding:0px 40px 0; box-sizing:border-box;} */

/* news_type */
.photo_list1{width:100%; border-top:1px solid #dbdbdb;}
.photo_list1 li{width:100%; height:134px; overflow:hidden; border-bottom:1px solid #dfdfdf; padding:20px 0;}
.photo_list1 li .pho_list1{width:12%; float:left; text-align:center; color:#a6a6a6; padding-top:23px; font-size:14px;}
.photo_list1 li .pho_list1 span{font-size:30px; font-weight:600; color:#696969;}
.photo_list1 li .pho_list2{position:relative; width:200px; height:134px; float:left; overflow:hidden; border:1px solid #d6d6d6; margin-left:30px; margin-right:30px;}
.photo_list1 li .pho_list2 img{width:100%; height:100%;}
.photo_list1 li .pho_list2 p{position:absolute; top:1px; left:1px;}
.photo_list1 li .pho_list2 p img{width:213px; height:134px;}
.photo_list1 li .pho_list3{width:60%; display:inline-block; padding:10px 40px 0; box-sizing:border-box;}
.photo_list1 li .pho_list3 dt{font-size:19px; font-weight:600; color:#323232; padding-bottom:7px;}
.photo_list1 li .pho_list3 dt span{font-size:15px; color:#575757; display:inline-block; margin-right:5px; padding:1px 6px 2px; background-color:#f7fcfe; border:1px solid #00bfef; border-radius:3px;}
.photo_list1 li .pho_list3 dd{font-size:15px; color:#666666; display:block; height:45px; overflow:hidden;}
.photo_list1 li .pho_list3 dd.hit_box{height:20px; font-size:14px; color:#979797; padding-top:5px;}
.photo_list1 li .pho_list3 dd.hit_box span{font-size:11px; padding:0 5px; font-weight:200; color:#dbdbdb; vertical-align:1px;}

/* 댓글폼 */
.qna_text dt{font-size:17px; font-weight:bold; color:#1f1f1f; margin-bottom:10px;}
.qna_text dd{padding:2px;}
.qna_text dd span.color_blue{ font-weight:bold;}
.qna_text dd span.font-bold{font-weight:900; font-size:15px;}
.qna_text_box{margin:20px 0 30px;}
.qna_text_box textarea{padding:10px; width:922px; height:50px; border:1px solid #d8d8d8;}
.qna_text_box a{display:inline-block; width:100px; height:70px; text-align:center; line-height:70px; border:1px solid #7f7f7f; background-color:#f1f1f1; vertical-align:top; font-size:16px; font-weight:bold;}

.comment_box{font-size:15px; padding:5px; line-height:1.6;}

.box_comment{border:1px solid #dadada; padding:20px; margin-top:10px; background-color:#f6f6f6;}
.box_comment .re_name{color:#323232; letter-spacing:-0.25px;}
.box_comment dl dd ul li{font-size:16px;}

/* TXT PREV NEXT */
.txt_prev_next {border-bottom:1px solid #dadada;}
.txt_prev_next ul {border-top:1px solid #dadada; overflow:hidden;}
.txt_prev_next ul li {float:left; font-size:14px; padding-top:15px; padding-bottom:15px; width:70px;}
.txt_prev_next ul li a{color:#747474;}
.txt_prev_next ul li span{padding-left:7px; font-size:12px;}
.txt_prev_next ul li:first-child {padding-left:30px; padding-right:20px; color:#000000; background-color:#f6f6f6}
.txt_prev_next ul li+li {padding-left:15px; width:auto;}

/* tbl_write */
.tbl_write{width:100%; overflow:hidden; position:relative;}
.tbl_write th{text-align:left; padding:10px; border-bottom:1px solid #dfdfdf; text-indent:20px; font-size:15px; background-color:#f6f6f6;}
.tbl_write td{text-align:left; padding:10px; border-bottom:1px solid #dfdfdf;}
.tbl_write tr:first-child th{border-top:1px solid #c1c1c1;}
.tbl_write tr:first-child td{border-top:1px solid #c1c1c1;}
.tbl_write tr:last-child th{border-bottom:1px solid #d6d6d6;}
.tbl_write tr:last-child td{border-bottom:1px solid #d6d6d6;}
.tbl_write td label{font-size:14px;}
.tbl_write td label span{font-size:13px; color:#797979; padding-left:5px;}
.tbl_write td textarea{width:97%; height:200px; padding:15px; border:1px solid #dfdfdf;}
.box_notice{margin-top:10px; padding:10px; border:1px solid #c1c1c1; background-color:#f8f8f8; font-size:15px; overflow:hidden;}
.box_notice1{padding:10px; border:1px solid #c1c1c1; border-top:none; background-color:#f8f8f8; font-size:15px; overflow:hidden;}
a.btn_p{float:right; padding:1px 6px 2px; font-size:13px; border:1px solid #444; background-color:#fff; color:#444; -webkit-border-radius:5px; border-radius:5px;}

/* password.html */
.pw_box{width:100%; box-sizing:border-box; border:1px solid #dbdbdb; background-color:#fdfdfd; padding:95px;}
.pw_box p{text-align:center;}
.pw_box p label{display:inline-block; width:80px; height:35px; line-height:35px; font-size:17px; font-weight:600; color:#434343; vertical-align:middle;}
.pw_box p input{width:200px; height:35px; vertical-align:middle;}
.pw_box p a{display:inline-block; font-size:15px; width:65px; height:35px; line-height:35px; text-align:center; color:#fff; background-color:#009ed8; vertical-align:middle;}

/* login */
.login_box{width:800px; margin:0 auto 50px; border:1px solid #dbdbdb; box-sizing:border-box; padding:40px 30px;}
.login_box h3{font-size:34px; text-align:center; line-height:0.8; margin-bottom:60px;}
.login_box h3 span{font-size:15px;}
.login_box .login{overflow:hidden; width:400px; margin:0 auto;}
.login_box .login li{float:left;}
.login_box .login li p{margin-bottom:8px; margin-right:8px;}
.login_box .login li p input{width:275px; height:43px; padding:10px 13px; box-sizing:border-box; border:1px solid #d8d8d8;}
.login_box .login li a{display:inline-block; width:115px; height:94px; text-align:center; line-height:94px; color:#fff; font-weight:600; font-size:18px; background-color:#89d0ee;}


.login_box .box_top_bottom{margin-top:30px; overflow:hidden; text-align:center;}
.login_box .box_top_bottom a{font-size:14px; color:#666;}
.login_box .box_top_bottom span{font-size:12px; color:#bdbdbd; padding:0 15px; vertical-align:1px;}



.login_box .box_bottom{margin-top:40px; overflow:hidden; text-align:center;}
.login_box .box_bottom a{font-size:14px; color:#666;}
.login_box .box_bottom span{font-size:12px; color:#bdbdbd; padding:0 15px; vertical-align:1px;}

/* find_idpw */
.find_box{width:934px; margin:0 auto; border:1px solid #dbdbdb; box-sizing:border-box; padding:40px 30px; overflow:hidden;}
.find_box .find{width:50%; float:left; overflow:hidden; box-sizing:border-box;}
.find_box .find li{font-size:15px; color:#444;}
.find_box .find li+li{float:left;}
.find_box .find li h3{width:100%; font-size:22px; letter-spacing:-1px; margin-bottom:25px;}
.find_box .find li p{margin-bottom:8px; margin-right:8px;}
.find_box .find li p label{display:inline-block; width:80px; font-size:16px; vertical-align:middle;}
.find_box .find li p select{width:193px; margin:5px 0 0 80px;}
.find_box .find li a{display:inline-block; width:98px; height:70px; text-align:center; line-height:70px; color:#fff; font-weight:600; font-size:16px; background-color:#89d0ee;}
.find_box .find1{padding-left:35px; box-sizing:border-box; border-left:1px solid #d6d6d6;}

/* join */
.join_box{width:100%;}
.join_box .tab{overflow:hidden; margin-bottom:30px;}
.join_box .tab li {width:33.33%; height:50px; font-size:17px; text-align:center; line-height:50px; float:left; color:#666; border:1px solid #c6c6c6; border-left:0; border-bottom:0; background-color:#f4f4f4; box-sizing:border-box;}
.join_box .tab li.f_bd{border-left:1px solid #c6c6c6; border-right:0;}
.join_box .tab .on{border:1px solid #000; border-bottom:0; background-color:#fff; color:#333; font-weight:600; position:relative; z-index:1;}

.join_tit{padding:35px 0 25px; text-align:center; margin-top:-1px; border-top:1px solid #000; position:relative;}
.join_tit h3{font-size:35px; font-weight:600; margin-bottom:20px;}
.join_tit p{}

.join_box dl{margin-bottom:20px;}
.join_box dt{font-size:18px; font-weight:600; margin-bottom:10px;}
.join_box dd .txt{width:100%; height:250px; padding:15px 20px; font-size:14px; color:#666; border:1px solid #d6d6d6; box-sizing:border-box; overflow-y:scroll;}
.join_box dd .agree{background-color:#efefef; padding:5px 10px 9px;}
.join_box dd .agree input{margin-right:7px; vertical-align:-1px;}
.join_box dd .agree label{font-size:14px; color:#444;}
.join_box .all_agree input{margin-right:7px; vertical-align:-1px;}
.join_box .all_agree label{font-size:14px; color:#444;}

.join_box .success{background-color:#f9f8f7; padding:70px; border:1px solid #e6e6e6;}
.join_box .success p{text-align:center; font-size:26px; line-height:1.3; letter-spacing:-1px;}
.join_box .success p span{color:#658916;}

.join_box .box_email_notice {overflow:hidden; border-bottom:1px solid #dbdbdb; padding:14px 14px 14px 14px}
.join_box .box_email_notice ul {background-color:#f2f2f4; -webkit-border-radius:3px; border-radius:3px; padding:10px 7px; font-size:13px; color:#606060}
.join_box .box_email_notice ul li+li {margin-top:4px}
.join_box .box_email_notice span {color:#3f56a6}

.join_box .box_email_notice1{margin-top:20px; padding:10px; border:1px solid #c6c6c6; background-color:#f4f4f4;}
.join_box .box_email_notice1 p{text-align:center; padding:50px 0; font-size:26px; letter-spacing:-2px;}

.caption_join{margin:30px 0 10px; font-size:18px; font-weight:600; text-align:left;}

/* privacy */
.privacy_box{padding:30px; border:1px solid #dbdbdb; background-color:#f8f8f8;}
.privacy_box p{font-size:16px; color:#666; line-height:1.4;}


.italic{font-style:italic;}






/* New custom styles */
.tt_marked {
	text-decoration:underline;
	text-decoration-color:#fbeab6;
}
.badge_char {
	display:block;
	min-width:50px;
	width:50px;
	height:70px;
	line-height:65px;
	margin:0 auto 20px;
	padding:0 10px;
	border-radius:35px;
	background-color:#89d0ee;
	font-size:50px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-transform:capitalize;
}

.singleimg_box {
	display:block;
	max-width:1200px;
	margin:40px auto;
}
.singleimg_box img {
	display:block;
	max-width:100%;
	width:auto;
	margin:0 auto;
}
.poster_box {
	margin:50px 0;
	border-top:1px solid #313131;
	background-color:#f9f9f9;
}
.poster_box_inner {
	overflow:hidden;
	width:1200px;
	margin:0 auto;
}
.poster_box .img {
	float:left;
	width:30%;
}
.poster_box .img img {
	display:block;
	width:100%;
}
.poster_box .read {
	overflow:hidden;
	padding:25px;
	vertical-align:middle;
}
.poster_box .read h4 {
	padding-top:60px;
	font-size:20px;
	font-weight:normal;
	line-height:130%;
}
.poster_box .read p {
	margin:25px 0;
	font-size:16px;
	text-align:justify;
}
.feature_list {
	margin:50px 0;
	border:1px solid #e5e5e5;
}
.feature_list ul li {
	zoom:1;
	position:relative;
	display:inline-block;
	width:33.33%;
	font-size:20px;
	vertical-align:top;
}
.feature_list ul li:before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:100%;
	background-color:#e5e5e5;
}
.feature_list ul li:after {
	content:"";
	display:block;
	position:absolute;
	top:0;
	right:-1px;
	width:1px;
	height:100%;
	background-color:#e5e5e5;
}
.feature_list ul li:first-child:before,
.feature_list ul li:last-child:after {
	display:none;
}
.feature_list ul li strong {
	display:block;
	margin:0 20px;
	padding:20px 0;
	border-bottom:1px solid #535353;
	font-size:34px;
	font-weight:normal;
	text-align:center;
}
.feature_list ul li p {
	margin:20px 20px 30px;
	line-height:130%;
}











